APP_ENV=local
APP_PORT=

TRUSTED_PROXIES=

AUTH_COOKIE_SECURE=
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_SAME_SITE=lax

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=ekstra_database
DB_SSLMODE=disable
