.section {
    --radius: 1.2rem;
    --header-padding: 1.5rem;

    min-height: 100svh;
    background: black;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 7fr 3fr;
}

.authContainerBackground,
.logoContainerBackground,
.navContainer,
.heroContent {
    background-color: white;
}

.logoContainer,
.navContainer,
.authContainer {
    padding: var(--header-padding);
}

.logoContainer,
.authContainer {
    color: white;
    background-color: black;
}

.logoContainer {
    border-bottom-right-radius: var(--radius);
}

.authContainer {
    border-bottom-left-radius: var(--radius);
}

.navContainer {
    color: black;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.heroContent {
    position: relative;
    min-height: 0;
    border-radius: var(--radius);
}

.modeContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--header-padding);
    color: white;
    background-color: black;
    border-top-left-radius: var(--radius);
}

.modeContainer::before,
.modeContainer::after {
    content: "";
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    background: transparent;
    pointer-events: none;
}

.modeContainer::before {
    top: calc(var(--radius) * -1);
    right: 0;
    border-bottom-right-radius: var(--radius);
    box-shadow: calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0 calc(var(--radius) * 0.5) black;
}

.modeContainer::after {
    left: calc(var(--radius) * -1);
    bottom: 0;
    border-bottom-right-radius: var(--radius);
    box-shadow: calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0 calc(var(--radius) * 0.5) black;
}
